#reactquiz {
  width: 100%; 
  max-width: 768px;
  margin: auto;
}

.image-font {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow:
	-2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#reactquiz button {
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.question {
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: auto;
}

.answer {
  background-image: url("https://media.giphy.com/media/J2h8avPQHdtv0yjSX2/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.flex-grid {
  display: flex;
  flex-direction: column;
}

.row {
  flex: 2;
  padding: .2em 0 .2em;
}

